#Django gitignore

cache/*
*.egg-info
*.pot
*.py[co]
__pycache__
*/__pycache__
*/__pyca*
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
.coverage
build/
tests/report/
cache/
#*/dev.log
#*/prod.log
*/*.log

ottawacitycarreers_cron.py
secretkey_update.txt
#*.sqlite3
secret_key.txt
#settings/production.py
staticfiles/
envpython3/
htmlcov/
description.todo
python3env
