{% extends "base.html" %}
{% load humanize %}

	{% block content %}

{% if language == "EN" %}


		<h1>About page</h1>

	 <p>This website provides the current and past job opportunities at the  <a href="http://ottawa.ca/en/city-hall/jobs-city" target="_blank">City of Ottawa</a>. The data obtained comes directly from the <a href="http://data.ottawa.ca/en/dataset/job-opportunities" target="_blank">Ottawa Open data portal</a>. All the jobs are in ascending order on the Expiration Date. Meaning that Jobs that will be expired soon will be first and jobs that will be expired later will be further down the pagination.</p>

	 <p> You can find the github repository of this web application <a href="https://github.com/guinslym/cityjobs"  target="_blank">here</a>.  This project is inpired from <a href="http://www.ottawacityjobs.ca/"  target="_blank">OttawaCityJobs</a></p>

	<p>The content of this website is under the <a target="_blank" href="https://creativecommons.org/licenses/by-nd/3.0/">CC-BY-ND</a> license. The images of the Ottawa city flags is under the Wiki Creative Commons License. The code for this application is also available on <a href="https://github.com/guinslym/cityjobs" target="_blank">Github</a>. Some third party of the code can't be transfert like the Twitter bot api and the bitly api.</p>

	{% endif %}



{% if language == "FR" %}

		<h1>À Propos</h1>

	 <p>Cette page web fournit la plus récente <a href="http://ottawa.ca/fr/hotel-de-ville/emplois-la-ville" target="_blank">liste d'emplois à Ville d'Ottawa</a>. Les emplois qui ne sont plus affichés sur le site web de la ville parce qu'ils ont été expirés, sont aussi accessible sur ce site. Les données ont été récupérés sur <a href="http://data.ottawa.ca/fr/dataset/job-opportunities" target="_blank">le portail de données ouvertes d'Ottawa</a>.Les offres d'emploi sont listés en ordre croissant en prenant comme référence la date d'expiration. Ce qui veut dire que les emplois qui expiront bientôt seront les premiers à être affichés. </p>

		 <p> Vous pourrez trouvez les scripts nécessaires à la création de cette application web en cliquant <a href="https://github.com/guinslym/cityjobs"  target="_blank">ici</a>. Ce projet à été inspiré de cette application web <a href="http://www.ottawacityjobs.ca/"  target="_blank">OttawaCityJobs</a>. </p>

	 <p>Le contenu de ce site web est sous license <a target="_blank" href="https://creativecommons.org/licenses/by-nd/3.0/">CC-BY-ND</a>. L'image du drapeau de la ville d'Ottawa est sous license Wiki Creative Commons. Les scripts qui ont permis de créer cette application web sont aussi disponible sur <a href="https://github.com/guinslym/django-ottawa-city-jobs" target="_blank">Github</a> sous license CC-BY. Les scripts contenants des informations personnelles par exemple pour faire fonctionner la publication de Tweet sur Twitter n'ont pas été inclus dans le code sur <a href="https://github.com/guinslym/django-ottawa-city-jobs" target="_blank">Github</a></p>

	{% endif %}
{% endblock %}
